{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% load account %}

{% block stylesheet %}
<link rel="stylesheet" href="{%static 'css/login.css'%}">
{% endblock stylesheet %}
{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <main class="container section" style=" display:flex; flex-direction:column; padding :6rem; margin-top: 4rem;" >
        {% include 'partials/_alerts.html' %}
        <h1 style="margin-bottom: 5rem; text-align:center">{% trans "Password Reset" %}</h1>
        {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <form method="POST" action="{% url 'account_reset_password' %}" class="register-form password_reset mb-4">
        {% csrf_token %}
        <div class="form-group">
            <label for="your_email"><i class="zmdi zmdi-account material-icons-name"></i></label>
            {{ form.email }}
        </div>
        <input class = "button button-flex" type="submit" value="{% trans 'Reset My Password' %}" />
    </form>

</main>
{% endblock %}
